body {
  background-image: url(./assets/wood.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: flex;
  justify-content: center;
}
.wholeCalculator {
  background-color: rgb(26, 28, 30);
  width: 50%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(251, 148, 56);
}
.numbersandOperations{
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.displayScreen {
  background-color: rgb(26, 28, 30);
  width: 80%;
  min-height: 200px;
  margin-top: 20px;
  border-bottom: 3px solid rgb(251, 148, 56);
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}
#displayBox {
  font-size: 50px;
  margin-left: 10px;
  color: rgb(251, 148, 56);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#resetButton:hover {
  background-color: rgb(26, 28, 30);
  cursor: pointer;
}
.styleButtons {
  background-color: rgb(57, 58, 64);
  color: rgb(251, 148, 56);
  width: 20%;
  height: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 5px;
  /* flex: 1 0 21%; */
}
#toggleNeg:hover {
  background-color: rgb(26, 28, 30);
}
.disableButton {
  pointer-events: none;
}

.onButton {
  pointer-events: auto;
}
#dotButton:hover {
  background-color: rgb(26, 28, 30);
}
#calcButton:hover {
  background-color: rgb(26, 28, 30);
}
.operation {
  background-color:rgb(251, 148, 56);
  color: rgb(57, 58, 64);
}
.operation:hover{
  color: rgb(251, 148, 56);
}
button:hover {
  background-color: rgb(26, 28, 30);
  cursor: pointer;
}
